<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="style.css" rel="stylesheet">
    <title>Report __FROM__ to __TO__</title>
</head>
<body>

<div>
    <h2>Merge requests for period __FROM__ to __TO__</h2>
    <div class="container-sm text-left">
        <h3>Aggregated Statistics</h3>
        <div class="row">
            <div class="col-lg-10 text-secondary">
                <div class="row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <div class="card mb-3">
                            <div class="card-body text-center">
                                <h5 class="card-title">__AVERAGE_DAYS__</h5>
                                <p class="card-text"><em>Average time in days</em></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <div class="card mb-3">
                            <div class="card-body text-center">
                                <h5 class="card-title">__AVERAGE_HOURS__</h5>
                                <p class="card-text"><em>Average time in hours</em></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 mb-3 mb-sm-0">
                        <div class="card mb-3">
                            <div class="card-body text-center">
                                <h5 class="card-title text-merged">__TOTAL_MERGED__</h5>
                                <p class="card-text"><em># Merged</em></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-0">
                        <div class="card mb-3">
                            <div class="card-body text-center">
                                <h5 class="card-title text-opened">__TOTAL_OPENED__</h5>
                                <p class="card-text"><em># Opened</em></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-0">
                        <div class="card mb-3">
                            <div class="card-body text-center">
                                <h5 class="card-title text-closed">__TOTAL_CLOSED__</h5>
                                <p class="card-text"><em># Closed</em></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-0">
                        <div class="card mb-3">
                            <div class="card-body text-center">
                                <h5 class="card-title text-total">__TOTAL_OVERALL__</h5>
                                <p class="card-text"><em># Overall</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">

                <div class="row">

                </div>
                <div class="row">
                    <div>
                        <canvas id="aggregated-merge-requests"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-sm">
        <canvas id="merge-request-merged"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const mergeRequestContext = document.getElementById('merge-request-merged');
    const mergeRequestChartType = 'line'
    const mergeRequestChartDatasets = [{
        label: '# of Merge Requests merged',
        data: __MERGE_REQUESTS_LINE_CHART_DATA__,
        borderWidth: 3,
        borderJoinStyle: "round",
        tension: 0.2
    }]
    const mergeRequestChartLabels = __MERGE_REQUESTS_LINE_CHART_LABELS__

    const aggregatedMergeRequestContext = document.getElementById("aggregated-merge-requests")
    const aggregatedMergeRequestChartType = 'doughnut'
    const aggregatedMergeRequestChartLabels = __MERGE_REQUESTS_DOUGHNUT_CHART_LABELS__
    const aggregatedMergeRequestChartDatasets =    [{
        label: 'Aggregated merge requests',
        data: __MERGE_REQUESTS_DOUGHNUT_CHART_DATA__,
        hoverOffset: 4
    }]

    function renderChart(context, type, labels, datasets) {
        new Chart(context, {
            type: type,
            data: {
                labels: labels,
                datasets: datasets,
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }

    renderChart(mergeRequestContext, mergeRequestChartType, mergeRequestChartLabels, mergeRequestChartDatasets);
    renderChart(aggregatedMergeRequestContext, aggregatedMergeRequestChartType, aggregatedMergeRequestChartLabels, aggregatedMergeRequestChartDatasets);
</script>

</body>
</html>