<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <title>Report __FROM__ to __TO__</title>
</head>
<body>

<div>
    <h2>Merge requests for period __FROM__ to __TO__</h2>
    <div class="container-sm text-left">
        <h3>Aggregated Statistics</h3>
        <div class="row">
            <div class="col-sm">Average time to merge</div><div class="col-sm-4">__AVERAGE_DAYS__ days</div><div class="col-sm-4">__AVERAGE_HOURS__ hours</div>
        </div>
        <div class="row">
            <div class="col-sm"># Merged</div><div class="col-sm-8">__TOTAL_MERGED__</div>
        </div>
        <div class="row">
            <div class="col-sm"># Closed</div><div class="col-sm-8">__TOTAL_CLOSED__</div>
        </div>
        <div class="row">
            <div class="col-sm"># Overall</div><div class="col-sm-8">__TOTAL_OVERALL__</div>
        </div>
    </div>
    <div class="container-sm">
        <canvas id="myChart"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: __LABELS__,
            datasets: [{
                label: '# of Merge Requests merged',
                data: __DATA__,
                borderWidth: 3,
                borderJoinStyle: "round",
                tension: 0.2
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

</body>
</html>