<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <title>Report __FROM__ to __TO__</title>
</head>
<body>

<div>
    <h2>Merge requests for period __FROM__ to __TO__</h2>
    <div class="container-sm text-left">
        <h3>Aggregated Statistics</h3>
        <div class="row">
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-sm">Average time to merge</div><div class="col-sm-4">__AVERAGE_DAYS__ days</div><div class="col-sm-4">__AVERAGE_HOURS__ hours</div>
                </div>
                <div class="row">
                    <div class="col-sm"># Merged</div><div class="col-sm-8">__TOTAL_MERGED__</div>
                </div>
                <div class="row">
                    <div class="col-sm"># Opened</div><div class="col-sm-8">__TOTAL_OPENED__</div>
                </div>
                <div class="row">
                    <div class="col-sm"># Closed</div><div class="col-sm-8">__TOTAL_CLOSED__</div>
                </div>
                <div class="row">
                    <div class="col-sm"># Overall</div><div class="col-sm-8">__TOTAL_OVERALL__</div>
                </div>
            </div>
            <div class="col-lg-2">
                <canvas id="aggregated-merge-requests"></canvas>
            </div>
        </div>
    </div>
    <div class="container-sm">
        <canvas id="merge-request-merged"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const mergeRequestContext = document.getElementById('merge-request-merged');
    const mergeRequestChartType = 'line'
    const mergeRequestChartDatasets = [{
        label: '# of Merge Requests merged',
        data: __MERGE_REQUESTS_LINE_CHART_DATA__,
        borderWidth: 3,
        borderJoinStyle: "round",
        tension: 0.2
    }]
    const mergeRequestChartLabels = __MERGE_REQUESTS_LINE_CHART_LABELS__

    const aggregatedMergeRequestContext = document.getElementById("aggregated-merge-requests")
    const aggregatedMergeRequestChartType = 'doughnut'
    const aggregatedMergeRequestChartLabels = __MERGE_REQUESTS_DOUGHNUT_CHART_LABELS__
    const aggregatedMergeRequestChartDatasets =    [{
        label: 'Aggregated merge requests',
        data: __MERGE_REQUESTS_DOUGHNUT_CHART_DATA__,
        hoverOffset: 4
    }]

    function renderChart(context, type, labels, datasets) {
        new Chart(context, {
            type: type,
            data: {
                labels: labels,
                datasets: datasets,
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }

    renderChart(mergeRequestContext, mergeRequestChartType, mergeRequestChartLabels, mergeRequestChartDatasets);
    renderChart(aggregatedMergeRequestContext, aggregatedMergeRequestChartType, aggregatedMergeRequestChartLabels, aggregatedMergeRequestChartDatasets);
</script>

</body>
</html>